.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar__links {
  display: flex;
  align-items: center;
}

.navbar__link {
  margin: 0 0.5rem;
  cursor: pointer;
}

.navbar__link:hover {
  color: #969ade;
}

.navbar__link--logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar__link--logout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__link--logout-photo {
  border-radius: 50px;
  width: 30px;
  height: 30px;
}